*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties
app/build/
ui/build/
voice/build/
nlp/build/
context/build/
domain/build/
data/build/
.gradle
*/build
